# Data Cleaning

This file consists of a sanity check of the provided data

In [1]:
#We first import the pandas library and the provided data
import pandas as pd
import os
sources_list = [file for file in os.listdir('../Sources/3.-Population/') if file.endswith('.csv')]
print(sources_list)
df_lst = []
for file in sources_list:
    globals()[file[:-4]] = pd.read_csv('../Sources/3.-Population/' + file)
    df_lst.append(globals()[file[:-4]])

['immigrants_emigrants_by_sex.csv', 'population.csv', 'deaths.csv', 'immigrants_emigrants_by_destination.csv', 'most_frequent_baby_names.csv', 'immigrants_by_nationality.csv', 'births.csv', 'most_frequent_names.csv', 'immigrants_emigrants_by_age.csv']

In [2]:
#We now keep only the data from 2017:
immigrants_by_nationality_2017 = immigrants_by_nationality[immigrants_by_nationality["Year"] == 2017]
population_2017 = population[population["Year"] == 2017]
deaths_2017 = deaths[deaths["Year"] == 2017]
immigrants_emigrants_by_sex_2017 = immigrants_emigrants_by_sex[immigrants_emigrants_by_sex["Year"] == 2017]
immigrants_emigrants_by_age_2017 = immigrants_emigrants_by_age[immigrants_emigrants_by_age["Year"] == 2017]
births_2017 = births[births["Year"] == 2017]

In [3]:
#We check that the total values for 2017 match betweeen the datasets:
immigrants_emigrants_by_age.head()

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Age,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,0-4,154,108
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,58,33
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,38,37
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,56,55
4,2017,2,Eixample,5,el Fort Pienc,0-4,79,60

In [4]:
deaths.Age.value_counts()

80-84    219
10-14    219
>=100    219
90-94    219
35-39    219
65-69    219
30-34    219
15-19    219
50-54    219
60-64    219
25-29    219
75-79    219
55-59    219
70-74    219
5-9      219
45-49    219
40-44    219
95-99    219
85-89    219
20-24    219
0-4      219
Name: Age, dtype: int64

In [27]:
rangs = [["0-19","0-4","5-9","10-14","15-19"],["20-39","20-24","25-29","30-34","35-39"],["40-59","40-44","45-49","50-54","55-59"],["60-79","60-64","65-69","70-74","75-79"],["+80","80-84","85-89","90-94","95-99",">=100"]]
deaths_ages_grouped = deaths_2017.copy()
for i in range(len(deaths_ages_grouped["Age"])):
    for r in rangs:
        if deaths_ages_grouped["Age"][i] in r:
            deaths_ages_grouped["Age"][i] = r[0]

/usr/local/Cellar/jupyterlab/2.1.0/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Age    Neighborhood.Code  Age
+80    1                  +80      5
       2                  +80      5
       3                  +80      5
       4                  +80      5
       5                  +80      5
                                  ..
60-79  69                 60-79    4
       70                 60-79    4
       71                 60-79    4
       72                 60-79    4
       73                 60-79    4
Name: Age, Length: 365, dtype: int64